<div class="card">
    <img src="{{psicodelic.img}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"> {{psicodelic.name}} </h5>
        <p class="card-text"> {{psicodelic.bio}} </p>
        <p class="card-text"><small class="text-muted"> {{psicodelic.casa}} </small></p>
        <button (click)="showPsico()" type="button" routerLinkActive="router-link-active"
            class="btn btn-outline-primary">
            Ver mas...
        </button>

        <!-- <a [routerLink]="['psicodelic',i]" routerLinkActive="router-link-active"  class="btn btn-outline-primary">
          Ver mas...
      </a> -->


    </div>

</div>